<link rel="stylesheet" type="text/css" href="style.css">



<div class="col-md-8 col-md-offset-2 transbox text-center" id='results'>
<h2>Your favorite drinking spots!</h2>
<% favorites.forEach(function(favorite) { %>
		<h3><%= favorite.name %></h3><button type='btn btn-warning' id='delete'>Delete</button>

	    <p><%= favorite.comment %> </p><button type='btn btn-warning' id='edit'>Edit Comment</button>

<% }); %>
