<link rel="stylesheet" type="text/css" href="style.css">



<div class="col-md-8 col-md-offset-2 transbox text-center" id='results'>
<h2>Your favorite drinking spots!</h2>
<% favorites.forEach(function(value, index) { %>
	<h3><%= favorites.name %></h3>
    	<p><%= favorites.location %></p>
  <% }); %>