<link rel="stylesheet" type="text/css" href="style.css">



<div class="col-md-8 col-md-offset-2 transbox text-center" id='results'>
<h2>Your favorite drinking spots!</h2>
<% favorites.forEach(function(favorite) { %>
		<h3 class='text-left'><%= favorite.name %></h3>
	    <p><%= favorite.comment %> </p><a href="/edit/<%= favorite.id %>" class="btn btn-default pull-left">Edit Comment</a><a href="/favorites/<%= favorite.name %>" class="btn btn-default delete-btn pull-right">Remove</a><br><hr>
<% }); %>
