<h1>THIS IS GOING TO BE WHERE YOU HAVE TO SIGN IN Or Make a new Account</h1>

<div class="modal show" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Sign In!</h4>
			</div>
			<div class="modal-body modalForm">
				<form id="forms" class="text-center">
				  <input type="email" id="email" placeholder="Enter email">
				  <input type="password" id="password" placeholder='Enter Password'>
				  <input type="number" id="age" placeholder='Must be 21+'>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="register" class="btn btn-danger" data-dismiss="modal">Not a member? Sign up</button>
				<button type="button" id="signIn" class="btn btn-danger" data-dismiss="modal">Enter</button>

			</div>
		</div>
	</div>
</div>