body {
	background-image: url("http://i.imgur.com/ftKJ5aE.jpg?1");
	background-size: cover;
}
.navbar {
	background: #626D75;
	opacity: .8;
	font-size: 15px;
	font-weight: bold;
	border: 3px solid black;
}
.navbar-nav>li>a {
    color: white !important;
}
.modal-content {
    background-color: #626D75;
}
#myModal {
top:10%;
outline: none;
}
div.background {
    background: url(klematis.jpg) repeat;
    border: 2px solid black;
}

div.transbox {
    background-color: #626D75;
    border: 1px solid black;
    opacity: 0.9;
}
div.transbox h3 {
	font-weight: bold;
	color: white;
}
div.transbox h4 {
	font-weight: bold;
	color: white;
}
div.transbox p {
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    color: white;
}
div.transbox li p {
    font-size: 12px;
}
form#searchTerms {
    color: white;
}
.results-list input {
    display: inline-block;
    font-size: 25px;
}
#map {
	height: 500px;
	width: 500px;
}